<p>{{ postArray }}</p>

<ul>
  <li>{{ postArray[0] }}</li>
  <li>{{ postArray[1] }}</li>
  <li>{{ postArray[2] }}</li>
  <li>{{ postArray[3] }}</li>
  <li>{{ postArray[4] }}</li>
</ul>

<p>Fetched Using ngFor Directive</p>
<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>

<p>Fetching Object Array</p>

<button (click)="addNew()">Add new data</button>

<div *ngIf="objArray.length > 0; then postList else nodata"></div>

<ng-template #postList>
  <ul>
    <li *ngFor="let post of objArray; let i = index">
      {{ i }} {{ post.postTitle }}
      <button (click)="onDelete(i)">Delete data</button>
    </li>
  </ul>
</ng-template>

<ng-template #nodata>
  <p>There is no Data to fetch ...</p>
</ng-template>

<div>
  <button (click)="onClick('step 1')">Step 1</button>
  <button (click)="onClick('step 2')">Step 2</button>
  <button (click)="onClick('step 3')">Step 3</button>
</div>
<div [ngSwitch]="stepForm">
  <div *ngSwitchDefault="'step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'step 2'">Step 2 Form</div>
  <div *ngSwitchCase="'step 3'">Step 3 Form</div>
</div>

<p>NgStyle Derective</p>
<!-- <h1
  [style.color]="isAcrive ? 'red' : 'black'"
  [style.textTransform] = "isAcrive ? 'uppercase' : 'lowercase'"
>Angular Udemy Course</h1> -->
<h1
  [ngStyle]="{
    color: isAcrive ? 'red' : 'balck',
    textTransform: isAcrive ? 'uppercase' : 'lowercase'
  }"
>Angular Udemy Course</h1>

<p>NgClass Derective</p>
<h1
[class.main]="isAcrive"
[class.text-weight]="isAcrive"
>Angular Udemy Course</h1>
<h1
[ngClass]="{
  'main' : isAcrive,
  'text-weight' : isAcrive
}"
>angular udemy course</h1>


